{% trans_default_domain('products-sign.admin') %}


<tr class="vertical-middle">

    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>

    <td>
        {{ item.sign_part|uuid_format_date('d.m.Y') }}
    </td>

    <td class="text-center">
        {{ product_sign_status(item.sign_status) }}
    </td>
    <td class="text-center">
        {{ item.counter }}
    </td>

    <td class="align-middle w-50">
        <div class="d-flex align-items-center gap-3">

            <div class="w-100">

                {# Название #}
                <a href="{{ path('products-sign:admin.part', { part: item.sign_part }) }}"
                   class="text-decoration-none mb-1 fw-bolder text-muted"
                >

                    {{ item.product_name }}

                    {# Значение множественного варианта ТП #}
                    {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render')
                    ~ item.product_modification_value|call_twig_func(item.product_modification_reference~'_render') }}

                    {# Значение торгового предложения #}
                    {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}

                    {# Постфикс торгового предложения #}
                    {{ item.product_offer_postfix }}
                    {# Постфикс множественного варианта #}
                    {{ item.product_variation_postfix }}
                    {# Постфикс модификации #}
                    {{ item.product_modification_postfix }}

                </a>


                <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                     data-copy="{{ item.product_article }}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14"
                         fill="currentColor" viewBox="0 0 115.77 122.88">
                        <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                    </svg>
                    Артикул: {{ item.product_article }}
                </div>

            </div>

        </div>
    </td>

    <td>
        {% if item.order_number %}
            <button data-href='{{ item.order_id ? path('orders-order:admin.detail', { id: item.order_id }) : '#' }}'
                    data-id='{{ item.order_id }}'
                    class="btn btn-sm btn-link fw-bolder text-decoration-none product-name offcanvas-link text-nowrap p-0"
            >
                {{ item.order_number }}
            </button>
        {% endif %}


        {% if item.sign_number %}
            <div class="d-flex align-items-center gap-1 text-primary pointer copy small text-nowrap"
                 data-copy="{{ item.sign_number }}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14"
                     fill="currentColor" viewBox="0 0 115.77 122.88">
                    <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                </svg>
                ГТД: {{ item.sign_number }}
            </div>
        {% endif %}


    </td>

    <td class="text-center text-nowrap w-75">
        {# {% if item.sign_status != 'new' %} #}

        {# {% endif %} #}

        {% if item.users_profile_username %}
            {{ item.users_profile_username }}
        {% else %}
            <span class="badge badge-light text-dark">Общий</span>
        {% endif %}

    </td>


    <td class="text-nowrap text-nowrap">
        <div class="d-flex gap-1">


            {% if (item.sign_status != 'new' and item.sign_status != 'error') and (is_granted('ROLE_PRODUCT_SIGN') or is_granted('ROLE_ADMIN')) %}

                {% set print_path = null %}

                {% if item.sign_status == 'decommission' %}
                    {% set print_path = path('products-sign:admin.print.parts', { part: item.sign_part }) %}
                {% else %}
                    {% set print_path = path('products-sign:admin.print.orders', { order: item.order_id }) %}
                {% endif %}

                <a href="{{ print_path }}"
                   class="btn btn-sm btn-light disabled prnt"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                    </svg>
                </a>

                {# Печать #}
                {# <button
                        data-href="{{ print_path }}"
                        class='btn btn-sm btn-light d-flex gap-3 disabled prnt'
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        title='Печать честных знаков'
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                    </svg>
                </button> #}

            {% endif %}

            {# EXEL #}

            {% if (item.sign_status != 'new' and item.sign_status != 'error') and (is_granted('ROLE_PRODUCT_SIGN') or is_granted('ROLE_ADMIN')) %}

                {# {% set document_big_txt = null %} #}
                {% set document_small_txt = null %}
                {% set document_big_txt = null %}
                {% set document_pdf = null %}

                {% if item.sign_status == 'decommission' %}
                    {# {% set document_big_txt = path('products-sign:admin.csv.parts', { part: item.sign_part }) %} #}
                    {% set document_small_txt = path('products-sign:admin.txt.parts', { article: item.product_article, part: item.sign_part }) %}
                    {% set document_pdf = path('products-sign:document.pdf.parts', { article: item.product_article, part: item.sign_part }) %}
                {% else %}

                    {% set document_small_txt = path('products-sign:admin.small.txt.orders', {
                        article: item.product_article,
                        part: item.sign_part,
                        order: item.order_id,
                        product: item.product_id,
                        offer: item.product_offer_const,
                        variation: item.product_variation_const,
                        modification: item.product_modification_const
                    }) %}

                    {% set document_big_txt = path('products-sign:admin.big.txt.orders', {
                        article: item.product_article,
                        part: item.sign_part,
                        order: item.order_id,
                        product: item.product_id,
                        offer: item.product_offer_const,
                        variation: item.product_variation_const,
                        modification: item.product_modification_const
                    }) %}

                    {% set document_pdf = path('products-sign:document.pdf.orders', {
                        article: item.product_article,
                        part: item.sign_part,
                        order: item.order_id,
                        product: item.product_id,
                        offer: item.product_offer_const,
                        variation: item.product_variation_const,
                        modification: item.product_modification_const
                    }) %}

                {% endif %}


                {% if document_pdf %}
                    <a
                            href="{{ document_pdf }}"
                            class='btn btn-sm btn-light d-flex gap-3'
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-delay='{"show":600,"hide":100}'
                            title='Скачать PDF c КИЗ'
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                             class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
                        </svg>
                    </a>
                {% endif %}



                {% if document_small_txt %}
                    <a
                            href="{{ document_small_txt }}"
                            class='btn btn-sm btn-light d-flex gap-3'
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-delay='{"show":600,"hide":100}'
                            title='Скачать TXT c короткой кодировкой'
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                             class="bi bi-filetype-txt" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"/>
                        </svg>
                    </a>
                {% endif %}


                {% if document_big_txt %}
                    <a
                            href="{{ document_big_txt }}"
                            class='btn btn-sm btn-light d-flex gap-3'
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-delay='{"show":600,"hide":100}'
                            title='Скачать TXT c полной кодировкой'
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                             class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                        </svg>
                    </a>
                {% endif %}

            {% endif %}


            {% if item.sign_status == 'new' and (is_granted('ROLE_PRODUCT_SIGN_STATUS') or is_granted('ROLE_ADMIN')) %}

                <button
                        data-href="{{ path('products-sign:admin.decommission', {
                            category : item.product_category,
                            product : item.product_id,
                            offer: item.product_offer_const,
                            variation: item.product_variation_const,
                            modification: item.product_modification_const
                        }) }}"
                        class='btn btn-sm btn-outline-danger d-flex gap-3 disabled'
                        data-bs-toggle="modal"
                        data-bs-target="#modal"
                        title='Списать честные знаки'
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class=""
                         viewBox="0 0 16 16">
                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                    </svg>
                </button>

                <a
                        href="{{ path('products-sign:admin.txt.parts', { article: item.product_article, part: item.sign_part }) }}"
                        class='btn btn-sm btn-light d-flex gap-3'
                        title='Скачать TXT'
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                         class="bi bi-filetype-txt" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M14 4.5V14a2 2 0 0 1-2 2h-2v-1h2a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.928 15.849v-3.337h1.136v-.662H0v.662h1.134v3.337zm4.689-3.999h-.894L4.9 13.289h-.035l-.832-1.439h-.932l1.228 1.983-1.24 2.016h.862l.853-1.415h.035l.85 1.415h.907l-1.253-1.992zm1.93.662v3.337h-.794v-3.337H6.619v-.662h3.064v.662H8.546Z"/>
                    </svg>
                </a>

            {% endif %}

        </div>
    </td>
</tr>

{# {{ dd(item) }} #}
