{% trans_default_domain('products-sign.admin') %}

<div class="modal-dialog modal-dialog-centered " style="max-width: 800px;">
    {{ form_start(form) }}


    <div class="modal-content p-3 border-bottom border-5 border-primary">

        <div class="modal-header">
            <h5 class="modal-title">
                {{ 'Добавить честный знак'|trans }}
            </h5>
        </div>

        <div class="modal-body">


            <div class="d-flex gap-3 justify-content-between align-items-center">

                <div>
                    {# Обложка  #}
                    {# {% set image_path = '/assets/img/blank.svg' %} #}

                    {% set image_path = 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSIjYWRiNWJkIj4KICA8cGF0aCBkPSJNMiAyaDJ2MkgyVjJaIj48L3BhdGg+CiAgPHBhdGggZD0iTTYgMHY2SDBWMGg2Wk01IDFIMXY0aDRWMVpNNCAxMkgydjJoMnYtMloiPjwvcGF0aD4KICA8cGF0aCBkPSJNNiAxMHY2SDB2LTZoNlptLTUgMXY0aDR2LTRIMVptMTEtOWgydjJoLTJWMloiPjwvcGF0aD4KICA8cGF0aCBkPSJNMTAgMHY2aDZWMGgtNlptNSAxdjRoLTRWMWg0Wk04IDFWMGgxdjJIOHYySDdWMWgxWm0wIDVWNGgxdjJIOFpNNiA4VjdoMVY2aDF2MmgxVjdoNXYxaC00djFIN1Y4SDZabTAgMHYxSDJWOEgxdjFIMFY3aDN2MWgzWm0xMCAxaC0xVjdoMXYyWm0tMSAwaC0xdjJoMnYtMWgtMVY5Wm0tNCAwaDJ2MWgtMXYxaC0xVjlabTIgM3YtMWgtMXYxaC0xdjFIOXYxaDN2LTJoMVptMCAwaDN2MWgtMnYxaC0xdi0yWm0tNC0xdjFoMXYtMkg3djFoMloiPjwvcGF0aD4KICA8cGF0aCBkPSJNNyAxMmgxdjNoNHYxSDd2LTRabTkgMnYyaC0zdi0xaDJ2LTFoMVoiPjwvcGF0aD4KPC9zdmc+' %}

                    {# {% if form.cover.vars.data.ext is defined and form.cover.vars.data.ext is not null %}
                {% set img_host =  form.cover.vars.data.cdn == true  ? CDN_HOST : '' %}
                {% set img_table = '/upload/' ~ constant('BaksDev\\Products\\Category\\Entity\\Cover\\CategoryProductCover::TABLE') ~ '/' %}
                {% set img_dir = form.cover.vars.data.name %}
                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ form.cover.vars.data.ext %}
                {% set image_path = img_host ~ img_table ~ img_dir ~ img_file %}
            {% endif %} #}

                    <label class="icon rounded-3 bg-contain lazy position-relative image-input p-3"
                           style="width: 150px; height: 150px;"
                           data-bg="{{ image_path }}"
                    >

                        <div class="position-absolute top-0 start-100 rounded-circle border p-2 ms-2 d-flex align-items-center justify-content-center"
                             style="width: 16px; height: 16px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                                 fill="currentColor"
                                 class="position-absolute text-muted" viewBox="0 0 16 16">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                            </svg>
                        </div>

                        {{ form_row(form.code.file, { 'attr'  : { 'class' : 'd-none' } }) }}


                    </label>

                    <div class="text-muted small mt-3 text-center">
                        {# Принимаются только файлы изображений .png, .jpg и .jpeg #}
                        <small>{{ 'images'|trans({}, 'core') }}</small>
                    </div>
                </div>

                <div class="w-100">

                    {{ form_row(form.code.product, { label: 'Продукт', placeholder: 'Выберите продукцию из списка...', attr: { 'data-select' : 'select2' } }) }}

                    <div id="offer" class="d-flex w-100 gap-3">

                        <div>{{ form_row(form.code.offer) }}</div>

                        <div id="variation" class="d-flex w-100 gap-3">
                            <div>{{ form_row(form.code.variation) }}</div>

                            <div id="modification">
                                <div>{{ form_row(form.code.modification) }}</div>
                            </div>
                        </div>
                    </div>

                    {{ form_row(form.code.code, { label : 'form.code'|trans }) }}

                    {# {{ form_row(form.code.qr, { label : 'Код QR'|trans }) }} #}
                </div>

            </div>


            <div class="alert alert-warning mt-3 small" role="alert">
                Если не указан QR-код, он будет сгенерирвоан автоматически на указанный код
                честного знака.
                Сенерированный автоматически QR-код может не совпадать с требованиями сканирования.
            </div>

        </div>

        <div class="modal-footer">

            <div class="flex-grow-1">
                <div class="d-flex radio-buttons " data-buttons="true">
                    <label class="btn p-3 border-dotted rounded-3">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                <span class="h5">
                    <div class="form-check px-3 d-flex align-items-center">
                        {{ form_widget(form.purchase, { label: false }) }}
                        <span>
                            {# {{ 'admin.form.label.active'|trans }} #}
                            Создать лист закупки
                        </span>
                    </div>
                </span>
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>

                {# Сохранить #}
                {{ form_widget(form.product_sign, { label: '
                    <span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
                    <span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			    '}) }}
            </div>
        </div>


    </div>

    {{ form_end(form) }}
</div>


